html {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 30px;
  text-align: center;
  color: #4A4453;
}

p, li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
}


html {
background-color: #CABEDC}

body {
  width: 800px;
  margin: 0 auto;

  padding: 0 50px 50px 50px;
  border: 10px solid #C5FCEE;
  text-align: center;
}


body {
	font-family: "Comic Sans MS";
}

.section {
font-family: arial;
background-color:#4A4453
color:white;

}
.section h2 {

	font-family: Georgia;
	color:#4D4161
	font-size: 15px;
}

.section a:link {
	color:rgb(100,0,0) ;
}

#courses a:hover {
	color:#4A4453;
}
#courses a:active {

	color: #4A4453
}
		/* span tag selector: color all span tags red */
span {
	color:#4A4453;
	font-size: 15px;
}

		/* Put the image on the right */
#photo {
float: right;
height: 300px;
width: 250px;

}

#info{
font-size: 13px;
color: #4D4161

}
		/* Table Style! */
		/* Put borders around the cells */
th, td {

border: solid 1px #C5FCEE;
height: 50px;
width: 300px;
}
		/* Collapse or 'merge' the borders into each other*/
table { border-collapse: collapse; }

		/* Color every other row (tr) light grey */
tr:nth-child(even) {
	background:#C5FCEE;
	tab-size: 100px;
	font-size: 15px;
	text-align: center;

}
tr:nth-child(odd) {
	background:#C5FCEE;
	tab-size: 100px;
	font-size: 15px;
	text-align: center;

}

		/* Align and style the "For Credit" and "Listener" cells */
		/* Align and style the "For Credit" and "Listener" cells */
td.enrollheader {
	background-color:white;
	text-align:center;
	font-weight:bold;

}
